::-webkit-scrollbar {
    display: none;
}
.box {
    background-color: #b3c2bf;
    color: #dae7d6;
}
.stuff {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header {
    padding-top: 0px;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    color: #e9ece5;
    font-size:7em;
}
.mountains {
    padding-top: 10em;
    width: 20%
    height: 20%;
    max-width: 100vw;
    align-items: center;
}
.topnav .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20%;
}
.topnav {
    background-color: transparent;
    font-family: 'Maven Pro', sans-serif;
    overflow: hidden;
    height: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
    position: relative;
    float: left;
    color: #e9ece5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #e9ece5;
  transition: 0.4s;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: transparent;
    color: #e9ece5;
    text-decoration: none;
}
.topnav a:hover:after {
  width: 100%;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: transparent;
    text-decoration: none;
    color: white;
}
#ambient {
    float: right;
}

.mascot {
    margin-left: auto;
    margin-right: auto;
    padding-left: 41%;
}
#mascot {
    max-width:30%;
    max-height:30%;
    padding-top: 3em;

}

#taskExist {
    align-items: center;
}
#taskCreate {
    align-items: center;
}
#taskList {
    text-align: center;
    width: 100%;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

#new {
    font-family: 'Maven Pro', sans-serif;
    color: #e9ece5;
}

#newHeader {
    font-family: 'Maven Pro', sans-serif;
    color: #e9ece5;
    font-size: 1.5em;
    padding-bottom: 0px;
    padding-top: 40px;
    margin: 0px;
}

.popup {
    margin: 70px auto;
      padding: 0px;
      background: #e9ece5;
      border-radius: 5px;
      width: 50%;
      position: relative;
      transition: all 5s ease-in-out;
}
.popup h2 #newHeader{
  margin-top: 0;
  color: #3b3a36;
  font-family: 'Maven Pro', sans-serif;
  font-size:1em;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #3b3a36;
}
.popup .close:hover {
  color: #333;
}
.popup .content {
  max-height: 70%;
  overflow: auto;
  color: #3b3a36;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
*:focus {
    outline: none;
}
.taskName {
    padding-top: 10px;
    font-family: 'Maven Pro', sans-serif;
    width: 95%;
    background-color: transparent;
    border-color: transparent;
    font-size: 2em;
}
.taskTime {
    text-align: center;
    padding-top: 15spx;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Maven Pro', sans-serif;
    width: 13%;
    background-color: transparent;
    border-color: transparent;
    font-size: 2em;
    margin: auto;
}
.confirm1 {
    text-align: left;
    padding-left: 5em;
    float: left;
    padding-bottom: 3em;
}
.confirm2 {
    text-align: right;
    align-self: right;
    padding-right: 5em;
    float: right;
    padding-bottom: 3em;
}

.radial-timer {
  overflow: hidden;
  height: 144px;
  width: 144px;
  position: relative;
  margin: auto;
}
.radial-timer .radial-timer-half {
  height: 144px;
  width: 72px;
  border-radius: 72px 0 0 72px;
  background: #c0dfd9;
  position: absolute;
}
.radial-timer .radial-timer-half:nth-of-type(2) {
  z-index: 99999999;
  -webkit-transform-origin: center right;
  -webkit-transform: rotate(180deg);
}
.radial-timer .radial-timer-half:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  height: 126px;
  width: 63px;
  border-radius: 67.5px 0 0 67.5px;
  background: #e9ece5;
}
.radial-timer .radial-timer-half:after {
  content: "";
  position: absolute;
  background: #e9ece5;
  height: 288px;
  width: 216px;
  left: -144px;
  top: -72px;
  -webkit-transform-origin: center right;
}
.radial-timer.s-animate {
  -webkit-transform-origin: center right;
}
.radial-timer.s-animate .radial-timer-half:nth-of-type(1):after {
  -webkit-animation: rotateLeftMask 10s infinite linear;
}
.radial-timer.s-animate .radial-timer-half:nth-of-type(2):after {
  -webkit-animation: rotateRightMask 10s infinite linear;
}

@-webkit-keyframes rotateLeftMask {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@-webkit-keyframes rotateRightMask {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    visibility: hidden;
  }
  100% {
    -webkit-transform: rotate(180deg);
    visibility: hidden;
  }
}
