body {

}
.box {
    background-color: #b3c2bf;
    color: #dae7d6;
}
.header {
    padding-top: 0px;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    color: #e9ece5;
    font-size:7em;
}
.topnav .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20%;
}
.topnav {
    background-color: transparent;
    font-family: 'Maven Pro', sans-serif;
    overflow: hidden;
    height: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
    position: relative;
    float: left;
    color: #e9ece5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #e9ece5;
  transition: 0.4s;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: transparent;
    color: #e9ece5;
    text-decoration: none;
}
.topnav a:hover:after {
  width: 100%;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: transparent;
    text-decoration: none;
    color: white;
}

.mascot {
    margin-left: auto;
    margin-right: auto;
    padding-left: 41%;
}
#mascot {
    max-width:30%;
    max-height:30%;
    padding-top: 3em;

}

#taskExist {
    align-items: center;
}
#taskCreate {
    align-items: center;
}
#taskList {
    text-align: center;
    width: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 70px auto;
      padding: 20px;
      background: #e9ece5;
      border-radius: 5px;
      width: 50%;
      position: relative;
      transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #3b3a36;
  font-family: 'Maven Pro', sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #3b3a36;
}
.popup .close:hover {
  color: #333;
}
.popup .content {
  max-height: 70%;
  overflow: auto;
  color: #3b3a36;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.taskName {
    width: 70%;
    background-color: transparent;
    border-color: transparent;
    font-size: 1em;
}
